
*{
	padding:0;
	margin:0;
	font-family: Consolas, monaco, monospace;
}

body{
	font-family: Consolas, monaco, monospace;
	font-size: 100%;
	padding-top: 75px;
	background-image: url(/assets/windows_xp_bliss.jpg);
	background-size: cover;
	color: #000000;
}

a{
	text-decoration: none;
	color:rgb(44, 60, 206);
}
a:hover{
	color:rgb(226, 226, 226);
}

button {
	padding: 10px;
	border-radius: 3px;
	background: #ECE9DA;
	margin-left: 20px;
	margin-top: 8px;
	border: 3px outset;
}

button:hover{
	background: rgb(223, 220, 205);
}

button:focus{
	border: 3px inset;

}

p{
	line-height: 1.5em;
	margin: 0 0 0px;
}

hr{
	border: 0;
	border-bottom: #272727 2px solid;
	margin: 30px auto;
}

.title{
	font-size: 4em;
}

.wrap{
	max-width: 450px; 
	margin:10px auto;
}

.menu{
	border-radius: 10px;
	float: left;
	height: 350px;
	width: 300px;
	left: 100px;
	top: 85px;
	border: 3px #195CE1 solid;
	background: #ECE9DA;
	position: absolute;
}

.active{
	border-radius: 10px;
	float: left;
	height: 200px;
	width: 300px;
	left: 100px;
	top: 395px;
	border: 3px #195CE1 solid;
	background: #ECE9DA;
	
}

.type-wrap{
	width: 750px;
	height: 595px;
	padding: 0px;
	border-radius: 10px;
	border: 3px #195CE1 solid;
	overflow: auto;
	position: relative;
	z-index: 0;
	background: #ECE9DA;
	position: absolute;
}

.text-box{
	padding: 10px;
	width: 690px;
	height: 350px;
	background: #ffffff;
	margin-top: 20px;
	margin-left: 20px;
	er-radius: 3px;
	border: 3px inset;
	overflow: auto;
	position: relative;
	z-index: 10;
	line-height: 1.6;
}

.text-active{
	padding: 10px;
	width: 240px;
	height: 120px;
	background: #ffffff;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 3px;
	border: 3px inset;
	overflow: auto;
	z-index: 10;
}

.user-input {
    padding: 10px;
    width: 690px;
    height: 60px;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;
    border: 3px inset;
    overflow: auto;
    position: relative;
    z-index: 10;
}

.header-bar{
	height: 30px;
	background: linear-gradient(#195CE1, rgb(53, 122, 240));
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal{
	display: none;
	z-index: 15;
	position: fixed;
	background: #ECE9DA;
	border-radius: 10px;
	border: 3px #195CE1 solid;
	margin: 0 auto;
	width: 500px;
	margin-top: 150px;
	text-align: center;
	left:450px;
	padding-bottom:20px;
}
#page-mask {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display:none;
	z-index:14;
  }

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(248, 245, 230); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ECE9DA; 
	border: 3px outset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(206, 203, 191); 
}